*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  background: #505050;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #303030;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #505050;
  color: #ffffff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  font-family: 'Nunito', sans-serif;
  border-radius: 4px;
}

input::placeholder {
  color: rgb(174, 174, 174);
  opacity: 1;
}

textarea{
  resize: none;
  height: 200px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #303030;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}

button.add{
  color: #000000;
  padding: 3px 8px 20px 8px;
  border-radius: 8px;
  height: 30px;
  width: fit-content;
  margin-right: 2px;
  float: right;
}

button.remove{
  padding: 3px 8px 20px 8px;
  border-radius: 8px;
  height: 30px;
  width: fit-content;
  margin-right: 2px;
  float: right;

  color: #000000;
  background-color: #c94b4b;
  border: 1px solid #c13a3a;
  border-width: 1px 1px 3px;
}

button:hover{
  filter: brightness(80%);
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

fieldset fieldset{
  background-color: #202020;
  border-radius: 8px;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #303030;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

.switch > label {
  position: relative;
  left: 60px;
}

.switch > input[type="checkbox"] {
  opacity: 0;
}

.switch > label::before, 
.switch > label::after {
  --switch-width: 40px;
  --switch-height: 20px;
  content: "";
  position: absolute;
  height: var(--switch-height);
}

.switch > label::before {
  width: var(--switch-width);
  top: 0;
  left: calc(0px - var(--switch-width) - 15px);
  border-radius: var(--switch-width);
}

.switch > label::after {
  width: calc(var(--switch-height) + 1px);
  height: calc(var(--switch-height) + 1px);
  top: 0px;
  border-radius: var(--switch-height);
  left: calc(0px - var(--switch-width) - 15px);
  transition: transform .2s;
  background-color: #505050;
  transform-origin: left;
}

.switch > input[type=checkbox]:not(:checked) ~ label::after {
  transform: translateX(0);
}

.switch > input[type=checkbox]:not(:checked) ~ label::before {
  background-color: #202020;
}

.switch > input[type=checkbox]:checked ~ label::after {
  transform: translateX(calc(var(--switch-width) / 2));
}

.switch > input[type=checkbox]:checked ~ label::before {
  background-color: #5fcf80;
}
